<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Personal PC Icon example</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 40px;
      background-color: #f4f4f4;
    }

    .icon-container {
      display: inline-block;
      background-color: white;
      padding: 20px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
<div class="icon-container">
  <h1 th:text="'Hello, ' + ${name} + '!'">Hello, Vistula!</h1>
  <p>this last project for this semster </strong>.</p>
  <img th:src="@{/images/vistula.png}" width="600" height="600" alt="Vistula Logo" />
</div>
</body>
</html>